<div class="main d-flex flex-column  align-items-center gap-4 ">
    <!-- <div class="profile d-flex    ">
        <div class="image me-4   ms-3 d-flex justify-content-between align-items-center rounded rounded-4 ">
            <img [src]="images[0][2].path" alt="">
        </div>
        <div id="hr"></div>
        <div class="content ms-4 d-flex  flex-column justify-content-center   gap-2  rounded rounded-4">
            <div class="name d-flex justify-content-start align-items-center gap-3">
                <div class="head">
                    Full Name
                </div>
                <div class="hr"></div>
                <div class="ans">Shoyeb Chaus</div>
            </div>

            <div class="name location d-flex justify-content-start align-items-center gap-3 ">
                <div class="head">
                    Location
                </div>
                <div class="hr"></div>
                <div class="ans">Hyderabad</div>
            </div>

            
        <div class="edu1 d-flex flex-column justify-content-start  gap-2">
            <div class="head1">
                Education  
            </div>
            
            <div class="cont ms-4">
                <div class="coursename">
                    Bachelor of Computer Application
                </div>
                <div class="clgname">
                    Maharashtra Mahavidyalaya ,Nilanga
                </div>
                <div class="cgpa ">
                    CGPA:9.3
                </div>
    
                <div class="cmplt">
                    Completed in 2023
                </div>
            </div>
           
        </div>

        </div>
    </div> -->

    <div data-aos="fade-up" data-aos-duration="3000"  class="about  p-4 rounded rounded-4">
        <div class="head1 ">Objective</div>
        <div>
            <p>
                I'm a passionate and dedicated fresher aspiring to kickstart my career as a Java Full Stack Developer.
                Armed with a strong foundation in Java programming, I'm eager to learn and grow in the dynamic world of
                software development. I bring a hunger for knowledge, a proactive attitude, and a willingness to
                collaborate with teams to deliver impactful solutions. My goal is to leverage my skills and enthusiasm
                to contribute to innovative projects and make a positive impact in the tech industry.
            </p>
        </div>
    </div>

    
</div>