<div class="form">
    <h2 style="text-align: center;" class="">Contact</h2>
    <form class="d-flex justify-content-center align-items-center">
        <div class="form-content d-flex justify-content-center flex align-items-center gap-4 rounded rounded-4 ">
        <div class="field1 d-flex flex-column gap-4 justify-content-center align-items-center">
            <div class="text">
                <input type="text" name="fname" id="fname" class="form-control feild1-text" placeholder="Enter First Name">
            </div>

            <div class="text">
                <input type="text" name="fname" id="fname" class="form-control feild1-text" placeholder="Enter Last Name">
            </div>

            

            <div class="text">
                <input type="text" name="fname" id="fname" class="form-control feild1-text" placeholder="Enter Phone Number">
            </div>
            <div class="text">
                <input type="email" name="fname" id="fname" class="form-control feild1-text" placeholder="Enter Email">
            </div>

            
        </div>
        
        <div class="field2 " >
            <div class="text">
                <input type="text" name="fname" id="fname" class="form-control feild1-text1" placeholder="Enter Subject ">
            </div>
               <textarea name="" id="" class="form-control textarea" cols="30" rows="10" placeholder="Enter Berif about"></textarea>
        </div>
    </div>
        <div class="btn1 ">
             <button id="bt" class="btn btn-primary">Submit</button>
        </div> 
    </form>
</div>
