<div  class="main">

    <div class="title">
        Skills
    </div>
    <div class="skills container-fluid ">

       
        <div   class="skill ">
            <div appScrollTrigger class="name">
                Java
            </div>
            <div appScrollRight class="range ">
                <div id="java" class="progress"></div>
            </div>
        </div>

        <div class="skill ">
            <div appScrollTrigger class="name">
                Servlet
            </div>
            <div appScrollRight class="range ">
                <div id="servlet" class="progress"></div>
            </div>
        </div>



        <div class="skill ">
            <div appScrollTrigger class="name">
                Jsp
            </div>
            <div appScrollRight class="range ">
                <div id="jsp" class="progress"></div>
            </div>
        </div>

        <div class="skill ">
            <div appScrollTrigger class="name">
                Html/Css
            </div>
            <div appScrollRight class="range ">
                <div id="html" class="progress"></div>
            </div>
        </div>

        <div class="skill ">
            <div appScrollTrigger class="name">
                JavaScript
            </div>
            <div appScrollRight class="range ">
                <div id="js" class="progress"></div>
            </div>
        </div>

        <div  class="skill ">
            <div appScrollTrigger class="name">
                Oracle
            </div>
            <div appScrollRight class="range ">
                <div id="oracle" class="progress"></div>
            </div>
        </div>

        <div class="skill ">
            <div appScrollTrigger class="name">
                Angular 16
            </div>
            <div appScrollRight class="range ">
                <div id="angular" class="progress"></div>
            </div>
        </div>

        <div class="skill ">
            <div appScrollTrigger class="name">
                Bootstrap
            </div>
            <div appScrollRight class="range ">
                <div id="bootstrap" class="progress"></div>
            </div>
        </div>

        <div class="skill ">
            <div appScrollTrigger class="name">
                Selenium
            </div>
            <div appScrollRight class="range ">
                <div id="selenium" class="progress"></div>
            </div>
        </div>

        <div class="skill ">
            <div appScrollTrigger class="name">
                jdbc
            </div>
            <div appScrollRight class="range ">
                <div id="jdbc" class="progress"></div>
            </div>
        </div>


    </div>
</div>