
<div class="main">

    <div class="title">
        Skills
    </div>
<div class="skills container-fluid ">

      
        <div class="skill ">
            <div class="name">
                Java
          </div>
          <div class="range ">
              <div id="java" class="progress"></div>
          </div>
        </div>

        <div class="skill ">
            <div  class="name">
               Servlet
          </div>
          <div class="range ">
              <div id="servlet" class="progress"></div>
          </div>
        </div>
    

   
        <div class="skill ">
            <div class="name">
                Jsp
          </div>
          <div class="range ">
              <div id="jsp" class="progress"></div>
          </div>
        </div>

        <div class="skill ">
            <div class="name">
                Html/Css
          </div>
          <div class="range ">
              <div id="html" class="progress"></div>
          </div>
        </div>

        <div class="skill ">
            <div class="name">
                JavaScript
          </div>
          <div class="range ">
              <div id="js" class="progress"></div>
          </div>
        </div>

        <div class="skill ">
            <div class="name">
                Oracle
          </div>
          <div class="range ">
              <div id="oracle" class="progress"></div>
          </div>
        </div>

        <div class="skill ">
            <div class="name">
                Angular 16
          </div>
          <div class="range ">
              <div id="angular" class="progress"></div>
          </div>
        </div>

        <div class="skill ">
            <div class="name">
                Bootstrap
          </div>
          <div class="range ">
              <div id="bootstrap" class="progress"></div>
          </div>
        </div>

        <div class="skill ">
            <div class="name">
                Selenium
          </div>
          <div class="range ">
              <div id="selenium" class="progress"></div>
          </div>
        </div>

        <div class="skill ">
            <div class="name">
                jdbc
          </div>
          <div class="range ">
              <div id="jdbc" class="progress"></div>
          </div>
        </div>

 
</div>
</div>
