<div class="main">
  <div class="navbar container-fluid">
    <app-nav></app-nav>
  </div>
  <div class="body">
    <!-- <router-outlet></router-outlet> -->
    <div class="home">
      <app-home></app-home>
    </div>
    <div class="about">
      <app-about></app-about>
    </div>
     <div class="skill">
      <app-skills></app-skills>
     </div>

     <div class="works">
      <app-works></app-works>
     </div>

     <div class="contac">
      <app-contac></app-contac>
     </div>
    
    
    
  </div>
  
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>

<img src="" alt="">