<div class="main">
 
    <!-- <app-nav></app-nav> -->
  
    <div class="navbar container-fluid">
      <!-- <nav>
          <div class="logo">
              <h3>Portfolio</h3>
          </div>
          <ul>
               <li><a routerLink="" >Home</a></li>
               <li><a routerLink="/about">About</a></li>
               <li><a routerLink="/skills">Skills</a></li>
               <li><a routerLink="work">Works</a></li>
               <li><a routerLink="contact">Contact</a></li>
          </ul>
      </nav> -->
   <div class="navbar1">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container1 container-fluid">
            <a class="navbar-brand" href="#" appScrollTrigger>Shoyeb.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav1 collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li  appAppearTop class="nav-item">
                  <a class="nav-link active" aria-current="page"  (click)="scrollTo('home')" routerLink="">Home</a>
                  
                 
                </li>
                <li appAppearTop class="nav-item">
                  <a  class="nav-link"  (click)="scrollTo('about')" routerLink="/about">About</a>
                </li>
                <li  appAppearTop class="nav-item">
                  <a class="nav-link"  (click)="scrollTo('skill')" routerLink="skills">Skills</a>
                </li>
                <li  appAppearTop class="nav-item">
                  <a class="nav-link"  (click)="scrollTo('work')" routerLink="work">Work</a>
                </li>
                <li  appAppearTop class="nav-item">
                  <a class="nav-link"  (click)="scrollTo('contact')" routerLink="contact">Contact</a>
                </li>
                
               
              </ul>
            </div>
             <div  class="download">
              <a appScrollRight href="" download="">Download Resume</a>
             </div>
          </div>
        </nav>
      </div>
  
      <div class="navbar2">
          <nav class="navbar navbar-light bg-light fixed-top">
              <div class="container-fluid">
                  <a class="navbar-brand" routerLink="">Portfolio</a>
                  <button
                      class="navbar-toggler"
                      type="button"
                      data-bs-toggle="offcanvas"
                      data-bs-target="#offcanvasNavbar"
                      aria-controls="offcanvasNavbar"
                  >
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div
                      class="offcanvas offcanvas-end"
                      tabindex="-1"
                      id="offcanvasNavbar"
                      aria-labelledby="offcanvasNavbarLabel"
                  >
                      <div class="offcanvas-header">
                          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                              Portfolio
                          </h5>
                          <button
                              type="button"
                              class="btn-close text-reset"
                              data-bs-dismiss="offcanvas"
                              aria-label="Close"
                          ></button>
                      </div>
                      <div class="offcanvas-body">
                          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                              <li class="nav-item">
                                  <a
                                      class="nav-link active"
                                      aria-current="page"
                                      routerLink="" (click)="scrollTo('home')"
                                      >Home</a
                                  >
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" (click)="scrollTo('about')" routerLink="about">About</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" (click)="scrollTo('skill')" routerLink="skills">Skills</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" (click)="scrollTo('work')" routerLink="work">work</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" (click)="scrollTo('contact')" routerLink="contact">Contact</a>
                              </li>
                              <div class="download">
                                  <a href="" download="">Download Resume</a>
                                 </div>
                             
                          </ul>
                        
                      </div>
                  </div>
              </div>
          </nav>
          
      </div>
      
  </div>
  
  
  
  <div class="body">
    <!-- <router-outlet></router-outlet> -->
    <div id="home" class="home">
      <app-home></app-home>
    </div>
    <div id="about" class="about">
      <app-about></app-about>
    </div>
     <div id="skill" class="skill">
      <app-skills></app-skills>
     </div>

     <div id="work" class="works">
      <app-works></app-works>
     </div>

     <div id="contact" class="contact">
      <app-contac></app-contac>
     </div>
    
    
    
  </div>
  
  <div class="footer">
    
  </div>
</div>

<img src="" alt="">