<div class="body">
  <div class="main  container-fluid ">
    <div appAppeardown class="content d-flex flex-column justify-content-center align-items-center">

      <h2>Hi , I am <span>Shoaib</span></h2>
      <p id="text" class="tw "></p>
      <p class="abt">Graduate Java Full Stack Developer seeking opportunity to apply skills in dynamic projects, drive
        innovation, and grow professionally.</p>
      <p>From Hyderabad</p>

      
    </div>

    <div appAppearTop class="profile d-flex justify-content-center  align-items-center">


      <div class="img">
        <img [src]="images[0][2].path" alt="">
      </div>

    </div>


  </div>
  <div #carouselContainer class="carousel">
    <div class="slides" *ngFor="let slide of slides">

      <div #slide class="slide" *ngFor="let i of slide">
        <img [src]="i.path" alt="Slide">
      </div>

    </div>

  </div>


 

</div>